<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
    <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="profile-nav col-md-3">
                <div class="panel">
                    <div class="user-heading round">
                        <h1></h1>
                        <!--Fetch username and email from data-->
                        <h1><%= username %>, Welcome to your profile!</h1>
                        <p><%= email %></p>
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                        <button type="button" class="btn btn-primary btn-lg active" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Add a recipe 
                        </button>
                    </ul>
                </div>
            </div>


            
            <div class="profile-info col-md-9">
                <p1 class="display-6">My favorite recipes</p1>
                <div class="row">
                    <% results.forEach(result => { %>
                        <div class="card col-lg-4 col-md-6">
                          <img class="card-img-top" src="<%= result.recipe_image %>" alt="Food">
                          <div class="card-body">
                            <h4 class="card-title"><%= result.recipe_name %></h4>
                            <div class="row">
                              <div class="col">
                                <form action="/view" method="get">
                                  <input type="hidden" name="recipe_id" value="<%- result.recipe_id %>"/>
                                  <button type="submit" class="form-control" style="background-color:rgb(166, 166, 16); color:white"><a src="fullRecipes.ejs">View Recipe</a></button>
                                </form>
                                <form action="/favorite_delete" method="post">
                                    <input type="hidden" name="recipe_name" value="<%- result.recipe_name %>"/>
                                    <button type="submit" class="form-control">Remove favorite</button> 
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    <% }) %>
                  </div>
            </div>

            <div class="profile-info col-md-9">
                <p1 class="display-6">My recipes</p1>
                <div class="row">
                    <% myRecipes.forEach(result => { %>
                        <div class="card col-lg-4 col-md-6">
                          <img class="card-img-top" src="<%= result.recipe_image %>" alt="Food">
                          <div class="card-body">
                            <h4 class="card-title"><%= result.recipe_name %></h4>
                            <div class="row">
                              <div class="col">
                                <form action="/view" method="get">
                                  <input type="hidden" name="recipe_id" value="<%- result.recipe_id %>"/>
                                  <button type="submit" class="form-control" style="background-color:rgb(166, 166, 16); color:white"><a src="fullRecipes.ejs">View Recipe</a></button>
                                </form>
                                <form action="/favorite_delete" method="post">
                                    <input type="hidden" name="recipe_name" value="<%- result.recipe_name %>"/>
                                    <button type="submit" class="form-control">Delete recipe</button> 
                                </form>
                                <form action="/favorite_delete" method="post">
                                    <input type="hidden" name="recipe_name" value="<%- result.recipe_name %>"/>
                                    <button type="submit" class="form-control">Edit recipe</button> 
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    <% }) %>
                  </div>
            </div>



        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Add a recipe</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <form action="/upload" method="post" id="form1">
                            <div class="mb-3">
                                <label class="form-label">Recipe name</label>
                                <input class="form-control" id="recipe_name" name="recipe_name">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Prep time</label>
                                <input class="form-control" id="prep_time" name="prep_time">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Cook time</label>
                                <input class="form-control" id="cook_time" name="cook_time">
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Ingredients</label>
                                <textarea class="form-control" id="recipe_ingredients" name="recipe_ingredients"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Instructions</label>
                                <textarea class="form-control" id="instructions" name="instructions"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Cuisine type</label>
                                <input class="form-control" id="cuisine_type" name="cuisine_type"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Rating</label>
                                <input class="form-control" id="rating" name="rating"></textarea>
                            </div>
                            
                            <label for="exampleInputPassword1" class="form-label">Check all that apply</label>
                            

                            <div>
                                <div>
                                    <input type="checkbox" class="form-check-input" id="vegetarian" name="vegetarian">
                                    <label class="form-check-label" for="exampleCheck1">vegetarian</label>
                                </div>
                                
                                <div>
                                    <input type="checkbox" class="form-check-input" id="vegan" name="vegan">
                                    <label class="form-check-label" for="exampleCheck2">vegan</label>
                                </div>
                
                                <div>
                                    <input type="checkbox" class="form-check-input" id="keto" name="keto">
                                    <label class="form-check-label" for="exampleCheck3">keto</label> 
                                </div>
                
                                <div>
                                    <input type="checkbox" class="form-check-input" id="paleo" name="paleo">
                                    <label class="form-check-label" for="exampleCheck4">paleo</label> 
                                </div>
                
                                <div>
                                    <input type="checkbox" class="form-check-input" id="grain_free" name="grain_free">
                                    <label class="form-check-label" for="exampleCheck5">grain free</label>
                                </div>
                
                                <div>
                                    <input type="checkbox" class="form-check-input" id="gluten_free" name="gluten_free">
                                    <label class="form-check-label" for="exampleCheck6">gluten free</label> 
                                </div>
                
                                <div>
                                    <input type="checkbox" class="form-check-input" id="contains_dairy" name="contains_dairy">
                                    <label class="form-check-label" for="exampleCheck7">contains dairy</label>
                                </div>
                
                                <div>
                                    <input type="checkbox" class="form-check-input" id="contains_eggs" name="contains_eggs">
                                    <label class="form-check-label" for="exampleCheck8">contains eggs</label>
                                </div>
                
                                <div>
                                    <input type="checkbox" class="form-check-input" id="contains_nuts" name="contains_nuts">
                                    <label class="form-check-label" for="exampleCheck9">contains nuts</label> 
                                </div>
                
                                <div>
                                    <input type="checkbox" class="form-check-input" id="contains_soy" name="contains_soy">
                                    <label class="form-check-label" for="exampleCheck10">contains soy</label> 
                                </div>
                                
                                <div>
                                    <input type="checkbox" class="form-check-input" id="contains_wheat" name="contains_wheat">
                                    <label class="form-check-label" for="exampleCheck11">contains wheat</label>
                                </div>
                
                                <div>
                                    <input type="checkbox" class="form-check-input" id="contains_beef" name="contains_beef">
                                    <label class="form-check-label" for="exampleCheck12">contains beef</label>
                                </div>
                
                                <div>
                                    <input type="checkbox" class="form-check-input" id="contains_pork" name="contains_pork">
                                    <label class="form-check-label" for="exampleCheck13">contains pork</label>
                                </div>
                
                                <div>
                                    <input type="checkbox" class="form-check-input" id="contains_fish" name="contains_fish">
                                    <label class="form-check-label" for="exampleCheck14">contains fish</label>
                                </div>
                            </div>
                            
                            
                            <div class="mb-3">
                                <label class="form-label">Image link</label>
                                <input class="form-control" id="recipe_image" name="recipe_image">
                            </div>
                        </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" form="form1">Submit</button> <!--submit to data base and homepage-->
                </div>
              </div>
            </div>
          </div>
        
    </div>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </main>

<%- include ('../partials/footer') %>
